@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?du2j64');
  src:  url('fonts/icomoon.eot?du2j64#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?du2j64') format('truetype'),
    url('fonts/icomoon.woff?du2j64') format('woff'),
    url('fonts/icomoon.svg?du2j64#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-locate:before {
  content: "\e907";
}
.icon-home3:before {
  content: "\e902";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-paw:before {
  content: "\e900";
}
.icon-circle:before {
  content: "\e906";
}
.icon-pets:before {
  content: "\e901";
}
